{{- $fullName := promptStringOnce . "fullName" "Full Name" -}}
{{- $personalEmail := promptStringOnce . "personalEmail" "Your personal email address" -}}
{{- $personalProjectFolder := promptStringOnce . "personalProjectFolder" "Default Projects Folder (relative to home) (`c` will cd you there)" -}}
{{- $hasAlternateProfile := promptBoolOnce . "hasAlternateProfile" "Does this machine have an alternate profile? (Like a work or personal 'profile')" -}}

[data]
    full_name = {{ $fullName | quote }}
    personal_email = {{ $personalEmail | quote }}
    personal_project_folder = {{ osClean (printf "%q" (print .chezmoi.homeDir "/" $personalProjectFolder)) }}
    has_alternate_profile = {{ $hasAlternateProfile }}
{{ if $hasAlternateProfile}}
{{- $alternateEmail := promptStringOnce . "alternateEmail" "Alternate Email address" -}}
{{- $alternateProjectFolder := promptStringOnce . "alternateProjectFolder" "Alternate Projects Folder (relative to home) (`ca` will cd you there)" }}
    alternate_email = {{ $alternateEmail | quote }}
    alternate_project_folder = {{ osClean (printf "%q" (print .chezmoi.homeDir "/" $alternateProjectFolder)) }}
{{     end -}}

