{{ $macBrewPath := get (dict "amd64" "/usr/local/bin/" "arm64" "/opt/homebrew/bin/") .chezmoi.arch -}}
{{ $shellPathDict := dict "linux" "/usr/bin/zsh" "darwin" (print $macBrewPath "zsh") "windows" "pwsh.exe" -}}
{{- $shellPath := osClean (get $shellPathDict .chezmoi.os) -}}

command = "{{ $shellPath }}"

shell-integration-features = "sudo,title,ssh-env,ssh-terminfo"

### Fonts
font-family = "Monaspace Neon Var"
font-size = 12.5
# ss01: != and ===
font-feature = "ss01"
# ss02: <= and >=
font-feature = "ss02"
# ss03: -> and ~>
font-feature = "ss03"
# ss04: <> and </>
font-feature = "ss04"
# liga: //, ..., ||
font-feature = "liga"
# calt: texture healing
font-feature = "calt"

# calt for texture healing

# Imports always imported last.
config-file = theme.config
